@using Kendo.Mvc
@using KendoCSPExamples.Models

@(Html.Kendo().Grid<KendoCSPExamples.Models.ExtendedEmployeeViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(e => e.FirstName).Width(120);
            columns.Bound(e => e.LastName).Width(120);
            columns.Bound(e => e.Country).Width(120);
            columns.Bound(e => e.City).Width(120);
            columns.Bound(e => e.Title);
        })
        .Sortable()
        .Pageable()
        .Navigatable()
        .Scrollable()
        .ClientDetailTemplate(Html.Kendo().Template().AddComponent(tabStrip => tabStrip.TabStrip()
            .Name("tabStrip_${data.EmployeeID}")
            .Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
            .Items(items =>
            {
                items.Add().Text("Orders");
                items.Add().Text("Contact Information").Content(
                   "<div class='employee-details'>" +
                       "<ul>" +
                           "<li><label>Country:</label>${ data.Country }</li>" +
                           "<li><label>City:</label>${ data.City }</li>" +
                           "<li><label>Address:</label>${ data.Address }</li>" +
                           "<li><label>Home Phone:</label>${ data.HomePhone }<li>" +
                       "</ul>" +
                   "</div>"
                );
            })
            .Events(e=>e.Select("onSelect"))
        ))
        .HtmlAttributes(new { style = "height:430px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(5)
            .Read(read => read.Action("Parent_Read", "Demo_Detail_Template_CSP"))
        )
        .Events(events => events.DataBound("dataBound").DetailExpand("onExpand"))
)
@(Html.Kendo().DeferredScriptFile("Telerik-CSP-Examples"))
<script nonce="Telerik-CSP-Examples">
    var expandId;
    function onExpand(e){
        var dataItem = e.sender.dataItem(e.masterRow);
        expandId=dataItem.EmployeeID;
        console.log(expandId)
        setTimeout(function(){
            var tabstrip = $(e.detailRow).find(`#tabStrip_${expandId}`).data("kendoTabStrip");
            tabstrip.select(0);
        },300)
    }
    function onSelect(e){
        e.sender.setOptions({
            contentUrls: [
                {
                    url:"@Url.Action("_Child_Grid", "Demo_Detail_Template_CSP")"+"?employeeID="+expandId
                },
                null
            ]
        });
    }
    function additionalData(e){
        return {employeeID:expandId};
    }
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

<style>
    .k-detail-cell .k-tabstrip .demo-section {
        padding: 0.2em;
    }

    .employee-details ul {
        list-style: none;
        font-style: italic;
        margin: 15px;
        padding: 0;
    }

        .employee-details ul li {
            margin: 0;
            line-height: 1.7em;
        }

    .employee-details label {
        display: inline-block;
        width: 90px;
        padding-right: 10px;
        text-align: right;
        font-style: normal;
        font-weight: bold;
    }
</style>