<!DOCTYPE html>
<html>
    <head>
        @{
            var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
        } 

        <title>@ViewBag.Title - My Telerik MVC Application</title>
        <link href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
        <link href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.kendostatic.com/2015.1.429/js/jquery.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.1.429/js/jszip.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.aspnetmvc.min.js"></script>
        <script src="http://cdn.kendostatic.com/2015.1.429/js/cultures/kendo.culture.@(culture).min.js"></script>
        <script>
            kendo.culture("@culture");
        </script>
    	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
