<div id="example">
    <div class="demo-section">
        <img alt="Telerik UI for ASP.NET MVC PdfProcessing sample document" src="~/Content/web/pdfprocessing/documentAjax.png" class="documentImage" />
        @using (Html.BeginForm("Download_Document", "PdfProcessing"))
        {
            <input type="submit" value="Download Document" class="k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md downloadBtn" />
        }

    </div>
</div>

<style>
    .downloadBtn {
        margin: 0 auto;
        margin-top: 15px;
        display: block;
        float: right;
        width: 200px;
    }

    .documentImage {
        width: 100%;
    }
</style>