@{
    ViewBag.Title = "Home Page";
}

@(Html.Kendo().Button().Name("hello").Content("hello"))

<div>
    <p>
        <a>Grid CSP Compatibility Overview Demo Example</a>
    </p>
    <p>
        <a>Grid CSP Compatibility DetailTemplate Demo Example</a>
    </p>
</div>