@{
    ViewBag.Title = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.7/require.min.js"></script>

    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </div>

@(Html.Kendo().Grid<Telerik.Examples.Mvc.Areas.RequireJS.Models.Product>()
    .Name("grid")
    .DataSource(dataSource => dataSource.Ajax().Read("Read", "Home"))
    .Deferred()
)

<script>
    require([ "kendo.grid.min", "kendo.aspnetmvc.min"], initApp);
    function initApp() {
        @Html.Kendo().DeferredScripts(false)
    }
</script>