
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* #region Footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.85em;
    height: 60px;
}
/* #endregion */

/* #region custom Kendo UI styles */
h1 {
    margin: 0;
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
}

h2 {
    font-size: 30px;
    font-weight: lighter;
}

.placeholders {
    margin: 30px auto;
}

.placeholder img {
    display: inline-block;
}

p .k-button {
    margin: 0 15px 0 0;
}

#configure {
    display: none;
}

p .k-button {
    margin: 0 15px 0 0;
}

#responsive-panel {
    padding: 0;
}

    #responsive-panel .k-menu {
        padding: .5rem;
    }
/* #endregion */
@media (max-width: 767px) {
    #responsive-panel {
        transition: all linear .2s;
    }

    #configure {
        display: block;
        float: right;
    }

    .k-rpanel {
        padding: 0 1rem;
    }

    .k-rpanel-expanded {
        padding: .5rem 1rem;
    }

    .navbar-header {
        width: 100%;
    }

    .k-menu .k-item,
    .k-menu .k-link {
        width: 100%;
    }

    .k-menu .k-link {
        box-sizing: border-box;
    }
}
}
