@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style=" vertical-align:middle; text-align:center;">
    <h1>Welcome to the MVC Examples Repository</h1>
    <p class="lead text-muted">Select an example from the list to the left and then you can see it in action. Furthermore, you can select the tab options in order to see the code files in a convenient fashion. Click on the image below to read more about the product:</p>
</div>
<a href="https://www.telerik.com/aspnet-mvc" alt="https://www.telerik.com/aspnet-mvc"><img style="width: 1262px" src="~/Images/logo.png" /></a>
