@model StronglyTypedMultiSelectPostedWithForm.Models.CountryInfo

<h3>Telerik UI for ASP.NET MVC MultiSelect</h3>
<br />

@using (Html.BeginForm()) {
    <p>Posted values: @(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PostedCities ?? new int[] {}))</p>
        
    @(Html.Kendo().MultiSelectFor(m => m.SelectedCities)
            .DataValueField("ID")
            .DataTextField("Name")
            .BindTo(Model.Cities))
        
        <br />
        <button>Post</button>
}