@model Telerik.Examples.Mvc.Areas.MultiSelectGetPostData.Models.sampleModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>sampleModel</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.SomeField)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.SomeField)
		</dd>
	</dl>
	@if (Model.ChosenItems.Count > 0)
	{
		<ul>
			@foreach (int item in Model.ChosenItems)
			{
				<li>chosen value @item</li>
			}
		</ul>
	}
	else
	{
		<div>no data present in the model from the multiselect</div>
	}
</div>