<div id="user-select">
	@(Html.Kendo().ComboBox()
		.Name("timesheetUsers")
		.DataTextField("Name")
		.DataValueField("ID")
		.Events(events => events
		.Change("timeManagement.onSelectUser"))
		.DataSource(source =>
		{
			source.Read(read =>
			{
				read.Action("GetTimesheetUsers", "Home");
			})
			.ServerFiltering(false);
		})
		.SelectedIndex(0)
		.Suggest(false)
		.HtmlAttributes(new { style = "width:100%;" })
	)
</div>
<div id="timesheet-select">
	@(Html.Kendo().TreeView()
		.Name("timesheetDatesTreeview")
		.DataTextField("parentId")
		.Events(events => events
			.Select("timeManagement.onSelectTSheet")
		)
		.DataSource(dataSource => dataSource
			.Read(read => read
				.Action("GetTimesheetDates", "Home")
				.Data("timeManagement.additionalInfo")
			)
		)
	)
</div>

<script>
	var timeManagement = {
		onSelectUser: function (e) {
			var treeView = $('#timesheetDatesTreeview').getKendoTreeView();
			var dataSource = treeView.dataSource

			treeView.setDataSource(dataSource);
			treeView.dataSource.read();
		},
		additionalInfo: function (e) {
			var combo = $('#timesheetUsers').getKendoComboBox();
			var Userid = combo.value();

			return {
				Userid: Userid || 1
			}
		}
	};
</script>