@model string

@(Html.Kendo().DropDownListFor(m => m)
            .DataValueField("CountryNameShort")
            .DataTextField("CountryNameLong")
            .HtmlAttributes(new { data_bind = "value: Country" })
            .Template(@"<div class='dropdown-country-wrap'><img src='" + @Url.Content("~/content/web/country-flags/#:data.CountryNameShort#.png") + "' alt='#: data.CountryNameLong#' title='#: data.CountryNameLong#' width='20' /><span>#: data.CountryNameLong #</span></div>")
            .BindTo((System.Collections.IEnumerable)ViewData["countries"])
            .AutoWidth(true)
)