@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
}

﻿@(Html.Kendo().Grid<Telerik.Examples.Mvc.Areas.GridEditingInLineColorSelection.Models.PaintOrder>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.PaintOrderID);
        columns.Bound(p => p.Description);
        columns.Bound(p => p.Date).Format("{0:d}");
        columns.Bound(p => p.PaintColor).ClientTemplate("<div style='width: 100%; height: 22px; background: #=PaintColor#'>#=PaintColor#</div>");
        columns.Command(c =>
        {
            c.Edit();
            c.Destroy();
        });
    })
    .ToolBar(toolBar => toolBar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.PaintOrderID);
            model.Field(p => p.PaintOrderID).Editable(false);
        })
        .Create(create => create.Action("Create", "Home"))
        .Destroy(destroy => destroy.Action("Delete", "Home"))
        .Read(read => read.Action("Read", "Home"))
        .Update(update => update.Action("Update", "Home"))
    )
)