@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3> Kendo menu Same controller in different areas demo </h3>
    <p> You should be authenticated in order to access the pages from Area1.</p>
</div>