@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </div>
    }

@(Html.Kendo().Grid<KendoRequireJS.Models.Product>()
    .Name("grid")
    .DataSource(dataSource => dataSource.Ajax().Read("Read", "Home"))
    .Deferred()
)

<script>
    require([ "kendo.grid.min", "kendo.aspnetmvc.min"], initApp);
    function initApp() {
        @Html.Kendo().DeferredScripts(false)
    }
</script>