@{
    ViewBag.Title = "Home Page";
}

@using Telerik.Examples.Mvc.Areas.WindowFormWithAjax.Models;

<div class="container-fluid placeholders">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>All the Data</h2>
            @(Html.Kendo().Grid<OrderViewModel>()
                .Name("grid")
                .DataSource(datasource => datasource
                    .Ajax()
                    .Read(read => read.Action("GetOrders", "OrdersData"))

            )
            )
        </div>


        <div class="col-xs-12 col-md-6">
            <h2>Add Data</h2>
            @(Html.Kendo().Button()
                .Name("openCreateBtn")
                .Content("Create Record")
                .HtmlAttributes(new { type = "button" })
                .Events(events => events.Click("openCreateDialog"))
            )
            @(Html.Kendo().Window()
                .Name("createPopup")
                .Title("Create Dialog")
                .LoadContentFrom("OrderCreatePartial", "Home")
                .Draggable(true)
                .Resizable(resizable => resizable.Enabled(true))
                .Visible(false)
            )
        </div>

    </div>
</div>

<script>
    function closeCreatePopup() {
        $("#createPopup").data("kendoWindow").refresh({ url: "/Home/OrderCreatePartial" });
        $("#createPopup").data("kendoWindow").close();
        $('#grid').data('kendoGrid').dataSource.read();
        $('#grid').data('kendoGrid').refresh();
    }

    function openCreateDialog() {
        $("#createPopup").data("kendoWindow").center().open();
    }
</script>
