<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<pages>
			<namespaces>
				<add namespace="Kendo.Mvc.UI" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.FontIcons" publicKeyToken="20b4b0547069c4f8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.SvgIcons" publicKeyToken="20b4b0547069c4f8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="GridAjaxBindingDatabaseEntities" connectionString="metadata=res://*/Areas.GridAjaxBindingDatabase.Models.SampleModel.csdl|res://*/Areas.GridAjaxBindingDatabase.Models.SampleModel.ssdl|res://*/Areas.GridAjaxBindingDatabase.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditingModelStateErrorEntities" connectionString="metadata=res://*/Areas.GridEditingModelStateError.Models.SampleModel.csdl|res://*/Areas.GridEditingModelStateError.Models.SampleModel.ssdl|res://*/Areas.GridEditingModelStateError.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditingInLineDatabaseEntities" connectionString="metadata=res://*/Areas.GridEditingInLineDatabase.Models.SampleModel.csdl|res://*/Areas.GridEditingInLineDatabase.Models.SampleModel.ssdl|res://*/Areas.GridEditingInLineDatabase.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditing3LevelHierarchyEntities" connectionString="metadata=res://*/Areas.GridEditing3LevelHierarchy.Models.SampleModel.csdl|res://*/Areas.GridEditing3LevelHierarchy.Models.SampleModel.ssdl|res://*/Areas.GridEditing3LevelHierarchy.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditingPopUpTreeViewEntities" connectionString="metadata=res://*/Areas.GridEditingPopUpTreeView.Models.SampleModel.csdl|res://*/Areas.GridEditingPopUpTreeView.Models.SampleModel.ssdl|res://*/Areas.GridEditingPopUpTreeView.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;multipleactiveresultsets=True;connect timeout=30;application name=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridBatchEditingDatabaseEntities" connectionString="metadata=res://*/Areas.GridBatchEditingDatabase.Models.SampleModel.csdl|res://*/Areas.GridBatchEditingDatabase.Models.SampleModel.ssdl|res://*/Areas.GridBatchEditingDatabase.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridBindingDataTableEntities" connectionString="Data Source=(LocalDB)\mssqllocaldb;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;" providerName="System.Data.EntityClient" />
		<add name="GridCascadingDropDownFiltersEntities" connectionString="metadata=res://*/Areas.GridCascadingDropDownFilters.Models.SampleModel.csdl|res://*/Areas.GridCascadingDropDownFilters.Models.SampleModel.ssdl|res://*/Areas.GridCascadingDropDownFilters.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridHierarchyClientDetailTemplateEntities" connectionString="metadata=res://*/Areas.GridHierarchyClientDetailTemplate.Models.SampleModel.csdl|res://*/Areas.GridHierarchyClientDetailTemplate.Models.SampleModel.ssdl|res://*/Areas.GridHierarchyClientDetailTemplate.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridCustomAjaxBindingEntities" connectionString="metadata=res://*/Areas.GridCustomAjaxBinding.Models.SampleModel.csdl|res://*/Areas.GridCustomAjaxBinding.Models.SampleModel.ssdl|res://*/Areas.GridCustomAjaxBinding.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridCustomServerBindingEntities" connectionString="metadata=res://*/Areas.GridCustomServerBinding.Models.SampleModel.csdl|res://*/Areas.GridCustomServerBinding.Models.SampleModel.ssdl|res://*/Areas.GridCustomServerBinding.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridHierarchyExcelExportAllPagesEntities" connectionString="metadata=res://*/Areas.GridHierarchyExcelExportAllPages.Models.SampleModel.csdl|res://*/Areas.GridHierarchyExcelExportAllPages.Models.SampleModel.ssdl|res://*/Areas.GridHierarchyExcelExportAllPages.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditingPopUpNestedGridEntities" connectionString="metadata=res://*/Areas.GridEditingPopUpNestedGrid.Models.SampleModel.csdl|res://*/Areas.GridEditingPopUpNestedGrid.Models.SampleModel.ssdl|res://*/Areas.GridEditingPopUpNestedGrid.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditingPopUpNestedGridBatchEntities" connectionString="metadata=res://*/Areas.GridEditingPopUpNestedGridBatch.Models.SampleModel.csdl|res://*/Areas.GridEditingPopUpNestedGridBatch.Models.SampleModel.ssdl|res://*/Areas.GridEditingPopUpNestedGridBatch.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridHierarchyEditingWithCheckboxesEntities" connectionString="metadata=res://*/Areas.GridHierarchyEditingWithCheckboxes.Models.SampleModel.csdl|res://*/Areas.GridHierarchyEditingWithCheckboxes.Models.SampleModel.ssdl|res://*/Areas.GridHierarchyEditingWithCheckboxes.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridHierarchyInCellEditingEntities" connectionString="metadata=res://*/Areas.GridHierarchyInCellEditing.Models.SampleModel.csdl|res://*/Areas.GridHierarchyInCellEditing.Models.SampleModel.ssdl|res://*/Areas.GridHierarchyInCellEditing.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridBindingDynamicCollectionEntities" connectionString="metadata=res://*/Areas.GridBindingDynamicCollection.Models.SampleModel.csdl|res://*/Areas.GridBindingDynamicCollection.Models.SampleModel.ssdl|res://*/Areas.GridBindingDynamicCollection.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="ImageBrowserEntities" connectionString="metadata=res://*/Areas.EditorDatabaseImageBrowser.Models.Files.csdl|res://*/Areas.EditorDatabaseImageBrowser.Models.Files.ssdl|res://*/Areas.EditorDatabaseImageBrowser.Models.Files.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ImageBrowser.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="ProductsConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProductsDatabase.mdf;Integrated Security=True;" />
		<add name="GridMasterDetailEntities" connectionString="metadata=res://*/Areas.GridMasterDetail.Models.Northwind.csdl|res://*/Areas.GridMasterDetail.Models.Northwind.ssdl|res://*/Areas.GridMasterDetail.Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridExportingExcelMultipleEntities" connectionString="metadata=res://*/Areas.GridExportingExcelMultiple.Models.Northwind.csdl|res://*/Areas.GridExportingExcelMultiple.Models.Northwind.ssdl|res://*/Areas.GridExportingExcelMultiple.Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="TreeListExportingMultipleEntities" connectionString="metadata=res://*/Areas.TreeListExportingMultiple.Models.Sample.csdl|res://*/Areas.TreeListExportingMultiple.Models.Sample.ssdl|res://*/Areas.TreeListExportingMultiple.Models.Sample.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridMultiSelectEntities" connectionString="metadata=res://*/Areas.GridMultiSelect.Models.Northwind.csdl|res://*/Areas.GridMultiSelect.Models.Northwind.ssdl|res://*/Areas.GridMultiSelect.Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridEditingPopUpMultiSelectEntities" connectionString="metadata=res://*/Areas.GridEditingPopUpMultiSelect.Models.Northwind.csdl|res://*/Areas.GridEditingPopUpMultiSelect.Models.Northwind.ssdl|res://*/Areas.GridEditingPopUpMultiSelect.Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridHierarchyServerEntities" connectionString="metadata=res://*/Areas.GridHierarchyServer.Models.Northwind.csdl|res://*/Areas.GridHierarchyServer.Models.Northwind.ssdl|res://*/Areas.GridHierarchyServer.Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="SchedulerTooltipEntities" connectionString="metadata=res://*/Areas.SchedulerTooltip.Models.Sample.csdl|res://*/Areas.SchedulerTooltip.Models.Sample.ssdl|res://*/Areas.SchedulerTooltip.Models.Sample.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="SchedulerDragAndDropEntities" connectionString="metadata=res://*/Areas.SchedulerDragAndDrop.Models.Sample.csdl|res://*/Areas.SchedulerDragAndDrop.Models.Sample.ssdl|res://*/Areas.SchedulerDragAndDrop.Models.Sample.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="SchedulerCustomViewEntities" connectionString="metadata=res://*/Areas.SchedulerCustomView.Models.Sample.csdl|res://*/Areas.SchedulerCustomView.Models.Sample.ssdl|res://*/Areas.SchedulerCustomView.Models.Sample.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="SchedulerEditingCustomEditorEntities" connectionString="metadata=res://*/Areas.SchedulerEditingCustomEditor.Models.Sample.csdl|res://*/Areas.SchedulerEditingCustomEditor.Models.Sample.ssdl|res://*/Areas.SchedulerEditingCustomEditor.Models.Sample.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="SchedulerServerFilteringEntities" connectionString="metadata=res://*/Areas.SchedulerServerFiltering.Models.SchedulerSample.csdl|res://*/Areas.SchedulerServerFiltering.Models.SchedulerSample.ssdl|res://*/Areas.SchedulerServerFiltering.Models.SchedulerSample.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="TreeViewExpandSelectedItemAsyncEntities" connectionString="metadata=res://*/Areas.TreeViewExpandSelectedItemAsync.Models.Northwind.csdl|res://*/Areas.TreeViewExpandSelectedItemAsync.Models.Northwind.ssdl|res://*/Areas.TreeViewExpandSelectedItemAsync.Models.Northwind.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="GridHierarchyServerDetailTemplateEntities" connectionString="metadata=res://*/Areas.GridHierarchyServerDetailTemplate.Models.SampleModel.csdl|res://*/Areas.GridHierarchyServerDetailTemplate.Models.SampleModel.ssdl|res://*/Areas.GridHierarchyServerDetailTemplate.Models.SampleModel.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Sample.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>