@{
    ViewBag.Title = "Change Password";
}

<hgroup class="title">
    <h1 class="success">Change Password.</h1>
    <h2 class="success">Your password has been changed successfully.</h2>
</hgroup>
