@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Kendo UI TreeView</h3>
    <p>
        Use this area to provide additional information.
    </p>

    @(Html.Kendo().TreeView()
        .Name("LinksTreeView")
        .Items(items =>
        {
            items.Add()
                .Text("Site Map")
                
                .Items(subItems => {
                    subItems.Add().Text("Home").Action("Index", "Home");
                    subItems.Add().Text("About").Action("About", "Home");
                    subItems.Add().Text("Contact").Action("Contact", "Home");
                });
        })
    )

</aside>
