
@(Html.Kendo().Grid<ForeignKeyColumnDemo.Models.Order>()
    .Name("Grid")    
    .HtmlAttributes(new { style = "heigth:600px;"})
    .Columns(columns => {        
        columns.Bound(p => p.OrderID);
        columns.Bound(p => p.OrderDescription);
        columns.Bound(p => p.OrderDate);
        columns.Bound(p => p.Image)
            .ClientTemplate("<img src='" + @Url.Action("RenderPhoto", "Home", new { photoId = "#=OrderID-1#" }, @Request.Url.Scheme) + "' class='imgLink' />")
            .Title("Byte array images");
        columns.Bound(p => p.Image64)
            .ClientTemplate("<img src='data:image/png;base64,#=Image64#' class='imgLink' />")
            .Title("Base64 Images");
    })    
   
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource        
        .Ajax()      
        .ServerOperation(false)
        .Model(model => { 
            model.Id(p => p.OrderID);
            model.Field(p => p.OrderID).Editable(false);
            model.Field(p => p.Image).Editable(false);
            model.Field(p => p.Image64).Editable(false);          
        })
        .Read(read => read.Action("ForeignKeyColumn_Read", "Home"))  
    )
)

<div id="window"></div>

<script>
    $(function () {
        $("#window").kendoWindow({
            width: "600px",
            title: "Image preview",
            visible: false
        });

        $("#Grid").on("click", ".imgLink", showImage);
    })

    function showImage() {
        imgTag = "<img src='" + this.src + "' />";
        windowElement = $("#window").data("kendoWindow");
        windowElement.content(imgTag);
        windowElement.setOptions({
            width: 320,
            height: 320
        });
        windowElement.center();
        windowElement.open();
    }

</script>


<style>
    .imgLink {
        cursor: pointer;
        width: 100px;
        height: 100px;
    }

</style>
