<h4>Odata 4 with WebAPI</h4>
<div id="products"></div>
<script>
    $("#products").kendoGrid({
        dataSource: {
            type: "odata-v4",
            batch: true,
            transport: {
                read: {
                    url: "https://demos.telerik.com/service/v2/odata/Products"
                },
                update: {
                    url: function (data) {
                        return "https://demos.telerik.com/service/v2/odata/Products(" + data.ProductID + ")";
                    }
                },
                batch: {
                    url: function () {
                        return "https://demos.telerik.com/service/v2/odata/$batch";
                    }
                },
                create: {
                    url: function (dataItem) {
                        delete dataItem.ProductID;
                        return "https://demos.telerik.com/service/v2/odata/Products";
                    }
                }
            },
            sort: {
                field: "ProductID",
                dir: "desc"
            },
            schema: {
                model: {
                    id: "ProductID",
                    fields: {
                        UnitPrice: { type: "number" },
                        SupplierID: { type: "number" },
                        UnitsInStock: { type: "number" },
                        UnitsOnOrder: { type: "number" },
                        ProductID: { type: "number", editable: false },
                        SupplierID: { type: "number", defaultValue: 1 },
                        Discontinued: { type: "boolean" },
                        CategoryID: { type: "number" }
                    }
                }

            },
            pageSize: 10,
            serverFiltering: true,
            serverPaging: true,
            serverSorting: true
        },
        height: 650,
        toolbar: ["create","save"],
        groupable: true,
        sortable: true,
        filterable: {
            mode: "row"
        },
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        columns: [
            { field: "ProductID" },
            { field: "ProductName", width: 300 },
            "UnitPrice", "UnitsOnOrder", "Discontinued"
        ],
        editable: true
    });
</script>
