@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </div>
    }

<h3>Telerik UI for ASP.NET MVC Cascading ComboBoxes</h3>
<br />

 <div id="example">            
    <div class="demo-section k-header">
        <h4>Type</h4>
        <input id="type" style="width: 400px" />
        <h4>Specialty</h4>
        <input id="specialty" style="width: 400px" />
    </div>

    <script>
        $(document).ready(function () {
            $("#type").kendoComboBox({
                dataTextField: "Name",
                dataValueField: "Id",
                dataSource: {
                    transport: {
                        read: {
                            dataType: "json",
                            url: "api/Type",
                        }
                    }
                }
            });

            $("#specialty").kendoComboBox({
                cascadeFrom: "type",
                cascadeFromField: "TypeId",
                dataTextField: "Name",
                dataValueField: "Value",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            dataType: "json",
                            url: "api/Specialty",
                            data: function () {
                                return {
                                    typeId: $("#type").val(),
                                    filterValue: $("#specialty").data("kendoComboBox").input.val()
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
            
    <style scoped>
        .demo-section {
            width: 400px;
        }
        .demo-section h2 {
            text-transform: uppercase;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    </style>
</div>