<script>
    function about_after_show() {
        alert("After show!");
    }
</script>
@(Html.Kendo().MobileView()
    .Title("About")
    .Name("About")
    .Events(e => e.AfterShow("about_after_show"))
    .Content(@<text>
        <h3>Native UI on every device</h3>
        <p>
            Build apps and sites for mobile devices that offer native-like experiences for end users automatically, 
            without any extra coding. Currently supporting: WinPhone8, iOS, Android and Blackberry. Try the automatically adapting UI in the
            <a href="http://demos.kendoui.com/mobile/overview/index.html">Kendo UI Mobile demos</a>.
        </p>
        @(Html.Kendo().MobileListView()
                .Style("inset")
                .Type("group")
                .TemplateId("template")
                .BindTo(ViewBag.FilteredSource)
        )
    </text>)
)
<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        <h3>#:SystemId#</h3>
    </div>
</script>