<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title - My Telerik MVC Application</title>
	<link href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.aspnetmvc.min.js"></script>
</head>
<body>
	@RenderBody()
</body>
</html>
