@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{
    <h1 > HEADER </h1>
}

@(Html.Kendo().Grid<TelerikMvcApp5.Models.OrderViewModel>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(o => o.OrderID).Width(150).Locked(true).Lockable(false);
            columns.Bound(o => o.OrderDate).Width(500);
            columns.Bound(o => o.ShipCity).Width(300);
            columns.Bound(o => o.ShipCountry).Width(300);
            columns.Bound(o => o.ShipName).Width(300).Locked(true);
            columns.Bound(o => o.Freight).Width(400).Lockable(false);

        })
        .Pageable()
        .Sortable()
        .Scrollable()

        .Filterable()
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("Orders_Read", "Grid"))
        )

)

<style>
#grid {
    border-width: 0;
    height: 100% !important;
}
html,
body
    {
        overflow:hidden;
    }
</style>
<script>
    $(document).ready(function () {
        resizeGrid();
    });

    $(window).resize(function () {
        resizeGrid();
    });
    function resizeGrid() {
       
        $(".k-grid-content").height($(window).height() - 160);
        $(".k-grid-content-locked").height($(window).height() - 160);
    }
    
</script>