@{
	ViewBag.Title = "RemoteData";
}

<h2>RemoteData</h2>

@(Html.Kendo().PanelBar()
					.Name("MenuBar")
					.DataTextField("MenuName")
					.DataUrlField("MenuUrl")
					.Events(Event => Event.Select("onSelect").DataBound("onDataBound"))
					.DataSource(dataSource => dataSource
					.Model(Model =>
					{
						Model.Id("MenuId");
						Model.HasChildren("MenuHasChild");
					})
					.Read(Read => Read.Action("ReadMenu", "Home")))
)


<script>
	function onSelect() { }
	function onDataBound(e) {
		var desiredItemText = "@ViewBag.ItemToSelect";

		//uncomment these for easy testing of the behavior without rebuilding
		//desiredItemText = "Child one of 1"; //with this one, it can only get selected when it loads after "First" expands
		//desiredItemText = "First";
		var panelBar = e.sender;
		panelBar.wrapper.find("li[role='menuitem'] > a.k-link").each(function (index, elem) {
			var $elem = $(elem);
			if ($elem.text() == desiredItemText) {
				panelBar.select($elem.parents("li[role='menuitem']").first());
			}
		});
	}
</script>
