@{
    ViewBag.Title = "Home Page";
}

<script type="text/kendo" id="territoriesTemplate">
    <ul>
        #for(var i = 0; i< data.length; i++){#
            <li>#:data[i].TerritoryDescription#</li>
        #}#
    </ul>
</script>

<script type="text/javascript">
    var territoriesTemplate = kendo.template($("#territoriesTemplate").html(), { useWithBlock: false });
</script>
@(Html.Kendo().Grid<EmployeeViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Command(comm =>
        {
            comm.Edit();
        });
        columns.Bound(e => e.EmployeeID);
        columns.Bound(e => e.FirstName);
        columns.Bound(e => e.LastName);
        columns.Bound(e => e.Title);        
        columns.Bound(e => e.HireDate).Format("{0:d}");
        columns.Bound(e => e.Territories).ClientTemplate("#=territoriesTemplate(Territories)#");       
    })
    .Editable(ed=>ed.Mode(GridEditMode.PopUp))
    .Pageable()  
   .Events(ev=>ev.Edit("onEdit")) 
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)        
        .Model(model =>
            {
                model.Id(e => e.EmployeeID);
                model.Field(e => e.EmployeeID).Editable(false);
                model.Field(e => e.Territories).DefaultValue(new List<TerritoryViewModel>());
            })
            .Events(ev=>ev.Change("onDsChange"))
        .Read(read => read.Action("Read", "Home"))
        .Update(update => update.Action("Update", "Home").Data("serialize")))
)


<script type="text/javascript">

    function onDsChange(e) {
        if (e.field == 'Territories' && e.items) {
            var model = e.items[0].parent().parent();
            model.dirty = true;
        }
    }

    function onEdit(e) {
        $('#TerritoryGrid').data().kendoGrid.dataSource.data(e.model.Territories);
    }

    function serialize(data) {
        for (var property in data) {
            if ($.isArray(data[property])) {
                serializeArray(property, data[property], data);
            }
        }
    }

    function serializeArray(prefix, array, result) {
        for (var i = 0; i < array.length; i++) {
            if ($.isPlainObject(array[i])) {
                for (var property in array[i]) {
                    result[prefix + "[" + i + "]." + property] = array[i][property];
                }
            }
            else {
                result[prefix + "[" + i + "]"] = array[i];
            }
        }
    }
</script>
