/*
	This file overrides problematic CSS rules, which exist in the default MVC project template stylesheet (Site.css).
	These CSS rules use global or high-specificity selectors, and as a result, break Kendo UI widget appearance.

	This file is not required in real production applications, which use a different custom stylesheet.
*/

.k-grid th a
{
	position: static;
}

.k-grid .k-grid-header th a
{
	padding: .5em .2em .4em;
}

html body
{
	border: 0;
}
