@{
    ViewBag.Title = "Maintenance Mode";
    ViewBag.IsMaintenanceMode = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Routine Maintenance</h1>
<p class="maintenance">You'll be redirected once the maintenance is completed.</p>

<script>
    (function() {
        setTimeout(function() {
            location.pathname = "/";
        }, 3000);
    })();
</script>