@using Kendo.Mvc.UI
@using SalesHub.Client.Configuration
@using SalesHub.Client.ViewModels
@using SalesHub.Client.ViewModels.Api
@model SalesHub.Client.ViewModels.Client.IndexViewModel
@{
    ViewBag.Title = "Home";
}

@functions
{
    public static Dictionary<string, object> BuildAttributesForItem(SellingCompanyTreeViewItem item)
    {
        var attributes = new Dictionary<string, object>();
        
        if (item.CustomerId.HasValue)
        {
            attributes.Add("data-customer-id", item.CustomerId.Value.ToString());
        }
        return attributes;
    } 
}

<div class="left-column">
    @(Html.Kendo().TreeView().Name("customerTreeView").BindTo(Model.TreeViewRoot.Items, binding => binding
        .For<SellingCompanyTreeViewItem>(mapping => mapping
            .Children(sellingCompanyTreeViewItem => sellingCompanyTreeViewItem.Items)
            .ItemDataBound((item, sellingCompanyTreeViewItem) => {
                item.Text = sellingCompanyTreeViewItem.Text;
                item.Expanded = sellingCompanyTreeViewItem.Expanded;

                var attributes = BuildAttributesForItem(sellingCompanyTreeViewItem);
                foreach (var attr in attributes)
                {
                    item.HtmlAttributes.Add(attr);
                }
            })
        ))
        .Events(events => events.Select("window.SalesHub.CustomerTreeView_Select")).Deferred())
</div>

<div class="customer-grid right-column">
    @(Html.Kendo().Grid<CustomerOrderViewModel>().Name("ordersGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.OrderNumber).Title("Order Number");
            columns.Bound(p => p.OrderDate).Title("Order Date").Format("{0:d}");
            columns.Bound(p => p.IsActive).Title("Status").ClientTemplate("#= IsActive ? 'Active' : 'Inactive' #");
            columns.Bound(p => p.Weight).Title("Weight").ClientTemplate("#= kendo.format('{0:n} {1}', Weight, IsInKilograms ? 'kg' : 'lbs') #");
            columns.Bound(p => p.Value).Title("Value").Format("{0:c}");
            columns.Template(model => null)
                .ClientTemplate("<a class='k-button k-button-icontext' href='" +
                    Url.RouteUrl("Default", new { controller = "Order", action = "Edit" }) +
                    "/#= OrderId #'><span class='k-icon k-edit'></span><span class='command'>Edit</span></a>");
        })
        .ToolBar(toolbar => toolbar.Template("<a id='createOrderButton' class='k-button k-button-icontext k-grid-add' href='#'>Create order</a>"))
        .Filterable()
        .Selectable(settings => settings.Mode(GridSelectionMode.Single))
        .Pageable(builder => builder.PageSizes(new[] { 10, 20 }))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Read(builder => builder.Url(SettingsManager.BaseServiceUrl + "/CustomerOrders/GetOrdersForCustomer/").Type(HttpVerbs.Get))
            .Model(model => model.Id("OrderId"))
            .ServerOperation(true)
            .PageSize(10)
        ).Deferred())
</div>

@section scripts {
    <script>
        window.SalesHub.createOrderUrl = "@Url.RouteUrl("Default", new { controller = "Order", action = "New" }, Request.Url.Scheme)";
    </script>
    <script src="@Url.Content("~/Scripts/home.js")" type="text/javascript"></script>
}
